<spinner *ngIf="isLoading"></spinner>

<div class="container">
  <h1>Pokemons</h1>
  <div class="content">
    <div class="btn">
      <button
        mat-icon-button
        aria-label="View cards"
        (click)="changeViewCard()"
      >
        <mat-icon>view_module</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="View table"
        (click)="changeViewTable()"
      >
        <mat-icon>list</mat-icon>
      </button>
    </div>

    <div
      *ngIf="showCards"
      class="cards-container"
      [@animation]="pokemons.length"
    >
      <ng-container *ngFor="let pokemon of pokemons">
        <card [pokemon]="pokemon"></card>
      </ng-container>
    </div>

    <div
      *ngIf="!showCards"
      class="table-container"
      [@animation]="pokemons.length"
    >
      <grid [pokemons]="pokemons"></grid>
    </div>
  </div>
</div>
